h1, p, body{
    margin: 0;
}

body, img{
    width: 100%;
}


h1{
    margin-bottom: 20px;
    background-color: rgb(244, 79, 79);
    color: rgb(255, 255, 255);
    text-align: center;
}

h2{
    font-size: 25px;
    border-bottom: dotted 3px rgb(236, 122, 122);
}

h2::before{
    content: "●";
    color: rgb(239, 111, 139);
}

.contents p:nth-of-type(2)::first-letter{
    color:rgb(97, 206, 249);

}

#main_control{
    margin: 10px;
}

#parent{
    display: flex;
    justify-content: space-between;
}

.contents{
    width: 100%;
    border: solid 3px rgb(238, 204, 204);
    flex-basis: 25%;
    margin: 20px 0;
    padding: 10px 15px;
    text-align: center;
}

.contents img{
    margin: 10px 0;
    width: 70%;
}

footer{
    width: 100%;
    background-color: rgb(244, 79, 79);
    text-align: center;
}

#foot{
    color: rgb(255, 255, 255);
}

#foot:visited{
    color: rgb(255, 255, 255);
}

#foot:hover{
    color: rgb(245, 178, 168);
}

@media screen and (max-width: 768px){
    h2{
        font-size: 30px;
    }

    p{
        font-size: 25px;
    }

    #parent{
        display: block;
    }
}